body {
	margin-top: 10px;
}

.row {
	margin: 0;
}

.myLogInFormContainer {
	box-sizing: border-box;
	margin: auto;
	overflow: auto;
	width: 350px;
	border: 1px solid #878787;
	padding: 8px 25px;
}
.myLogInFormContainer h2 {
	margin-top: 0;
}
.myLogInFormContainer h5 {
	text-align: center;
}
.loginFormHeader {
	position: relative;
}
.loginFormHeader > span {
	position: absolute;
	font-size: 20px;
	right: -22px;
	top: -5px;
	cursor: pointer;
}
.loginFormHeader > span:hover {
	color: #5B5B5B;
}

.myLogInForm > form > .form-group {
	margin-bottom: 10px;
}

.myLogInFormContainer > .myBlock {
	margin-bottom: 10px
	
}
#loginBtn {
	width: 100%;
}
.myButtonSignUp {
	font-size: 15px;
}