body {
	background-color: #F7F6F6
}


header {
	box-sizing: border-box;
	background-color: #D6D6D6;
	height: 60px;
}
header > div {
	height: 60px;
	padding-top: 5px;
}
header > div, .myContainer, nav > div {
	width: 900px;
	margin: auto;
}

.myIconsContainer{
	text-align: left;
	margin-top: 10px;
}
.myIconslink > span {
	font-size: 25px;
}
.myTitle {
	text-align: center;
}
.myTitle > h3 {
	margin-top: 10px;
	font-size: 22px;
	font-weight: 600;
}
.myBtns {
	text-align: right;
}
.myBtns > button {
	font-size: 15px;
	font-weight: 600;
	margin: 5px 0 0 10px;
}



nav {
	background-color: white;
}
nav > div > ul {
	text-align: center;
	margin: 0;
	padding-left: 0;
}
nav > div > ul > li:first-child {
	margin-right: 40px;
	width: auto;
	border: 0px;
}
li > .btn {
	font-size: 18px;
}
li > .btn:hover {
	border-bottom: 1px solid #CCCCCC;
}
#mySecondChild {
	border-left: 1px solid #CCCCCC
}
nav a {
	font-size: 30px;
}
nav > div > ul > li {
	display: inline-block;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
	width: 175px;
}
nav > div > ul > li > a {
	color: black;
	font-weight: bolder;
	font-size: 15px;
	padding: 10px 0 5px;
	display: inline-block;
	width: 100%;
	transition: 0.5s;
	border-bottom: 5px solid transparent;
}
nav > div > ul > li > a:hover {
	border-bottom: 5px solid orange;
    text-decoration: none; 
	color: black;
	/*background-color: #D52E2E*/;
}




.myContent {
	overflow: hidden;
	min-height: 550px;
}
.myContent > div {
	padding: 25px 25px;
	border-right: 1px solid black;
}

.mySideMenu {
	background-color: white;
	font-size: 15px;
	font-weight: bolder;
	border: 1px solid #BCB6B6;
	box-shadow: 0 3px 9px grey;
	margin-bottom: 120px;
}
.mySideMenu > ul > li > a {
	color: #3A3838;
	padding: 15px 20px 15px; 
}
.myDayStat {
	padding: 5px;
	margin: 120px 0 50px;
}
/*.myDayStat {
	border: 1px solid #BCB6B6;
	background-color: white;
}*/



footer {
	box-sizing: border-box;
	height: 60px;
	background-color: #817E7E;
	color: white;	
}
footer > ul {
	text-align: center;
	font-size: 13px;
	padding: 10px;
	margin: 0;
}
footer > ul > li {
	display: inline-block;
	padding: 10px 30px;
}
