{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
About Us
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock links %}


{% block content %}
<div class="myContainer">
    <div class="myTextBlocks">
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.lorem</p>
    </div>
    <div class="myTeam">
      <div class="row">
        <h1>Our Team</h1>
        <div class="col-xs-4">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <div class="myMember">
              <img class="myImages" src="{% static 'images/tarasenko.jpg' %}" alt="Артем Тарасенко">
            </div>
            <p>Артем Тарасенко</p>
          </div>

          <div class="col-xs-2"></div>

        </div>
        <div class="col-xs-4">
          <div class="col-xs-2"></div>

          <div class="col-xs-8">
            <div class="myMember">
              <img class="myImages" src="{% static 'images/markus.jpg' %}" alt="Андрей Маркусь">
            </div>
            <p>Андрей Маркусь</p>
          </div>

          <div class="col-xs-2"></div>

        </div>
        <div class="col-xs-4">
          <div class="col-xs-2"></div>

          <div class="col-xs-8">
            <div class="myMember">
              <img class="myImages" src="{% static 'images/mokiy.jfif' %}" alt="Андрей Мокий">
            </div>
            <p>Андрей Мокий</p>
          </div>

          <div class="col-xs-2"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">

        </div>

        <div class="col-xs-4">
          <div class="col-xs-2">

          </div>
          <div class="col-xs-8">
            <div class="myMember">
              <img class="myImages" src="{% static 'images/kolot.jfif' %}" alt="Вадим Колот">
            </div>
            <p>Вадим Колот</p>
          </div>
          <div class="col-xs-2">

          </div>
        </div>
        <div class="col-xs-4">
          <div class="col-xs-2">

          </div>
          <div class="col-xs-8">
            <div class="myMember">
              <img class="myImages" src="{% static 'images/sistuk.jpg' %}" alt="Систук Андрей">
            </div>
            <p>Систук Андрей</p>
          </div>
          <div class="col-xs-2">

          </div>
        </div>
        <div class="col-xs-2">

        </div>

      </div>
    </div>
    <div class="myTextBlocks">
      <h1>Правила</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.lorem</p>
    </div>

    <div class="myFeedback">
      <h1>Напишите нам</h1>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">Ваше имя:</label>

          <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="Введите имя">
          </div>
          <div class="col-sm-6"></div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Ваш имейл:</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="Введите имейл" name="email">
          </div>
          <div class="col-sm-6"></div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2">Ваше сообщение:</label>
          <div class="col-sm-8">
            <textarea class="form-control" rows="8" placeholder="Введите сообщение" id="comment"></textarea>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-2">

          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary mySubmitBtn">Отправить</button>
          </div>
          <div class="col-sm-8">

          </div>
        </div>

      </form>

    </div>
  </div>
{% endblock content %}
