<html>
    <body>
        <div class="myoptionscon myoptionsconhidden">
            <div class="myoptions">
                Cсылка на эту историю:
                <div class="mycopylinkcon">
                    <div class="mycopylinkconrow">
                        <div class="mycopylinkconrowtblcell">
                            <input type="text" id="myidlink">
                        </div>
                        <div class="mycopylinkconrowtblcell">
                            <button id="mycopylinkbut">
                            <span class="mycopyicon glyphicon glyphicon-copy"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>