<div class="myCreateStoryContainer">
	<div class="panel panel-default">

		<div class="myPanelHeading">
			<div class="panel-title text-center" data-toggle="collapse" href="#el1">
				<span class="glyphicon glyphicon-pencil"></span>&nbsp;
				<span>Написать историю<span>&nbsp;
				<span class="glyphicon glyphicon-pencil"></span>
			</div>
		</div>

		<div id="el1" class="panel-collapse collapse">
			<div class="panel-body">
				<form action="{% url 'createStory' %}" role="form" method="post">
					{% csrf_token %}

					{{ form_create_story.story_content }}

					<div class="myCheckbox">
						<input type="checkbox" id="myStoryLife"> <label for="myStoryLife" id="myStoryLifeLbl">Задать время жизни истории</label>	
						<div id="mySetStoryLife">
							{{ form_create_story.days_num }} дней &ensp;
							{{ form_create_story.hours_num }} часов &ensp;
							{{ form_create_story.minutes_num }} минут
						</div>
					</div>

					<p>Публикуя историю вы соглашаетесь с <a href="AboutUs">правилами нашего сайта</a> :)</p>
					<button type="submit">Опубликовать</button>

				</form>
			</div>
		</div>

	</div>
</div>