<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<script src="jQuery/jquery-3.3.1.min.js"></script>
		<script src="bootstrap/bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="css/regFormStyles.css">
	</head>
	<body>
		
		<div class="text-center myRegFormContainer">
			
			<h3>Регистрация</h3>
			<div class="text-left myRegForm">
				<form action="" role="form">
				
					<div class="form-group">
						<input type="text" class="form-control" name="login" placeholder="Ваш логин">
						<label for="pass" class="text-danger">Error</label>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="Ваш емейл">
						<label for="pass" class="text-danger">Error</label>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="login" placeholder="Ваш пароль" id="pass">
						<label for="pass" class="text-danger">Error</label>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="login" placeholder="Повторите пароль">
						<label for="pass" class="text-danger">Error</label>
					</div>
					<button type="submit" class="form-control btn btn-success">Зарегестрироваться</button>	

				</form>

				<p>Уже есть аккаунт? <a href="#">Войти</a></p>	

				<div class="text-center mySeparator">
					<span>ИЛИ</span>
				</div>
				
				<div class="mySignUpWith">
					<div>
						<button class="btn myFacebookBtn">Войти с помощью Facebook</button>						
					</div>
					<div>
						<button class="btn myGoogleBtn">Войти с помощью Google</button>
					</div>
				</div>			

			</div>

		</div>

	</body>
</html>