{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/commonStyles.css">
<link rel="stylesheet" href="/static/css/myMenu.css">
<link rel="stylesheet" href="/static/css/myprofile.css">
<div class="myContainer">
    <div class="myContent">
        <div class="col-xs-3 text-justify">
            <div class="mySideMenu">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-book"></span>&ensp; Мои истории</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-signal"></span>&ensp; Моя статистика</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span>&ensp; Мой профиль</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-off"></span>&ensp; Выход</a>
                    </li>
                </ul>
            </div>
            <div class="myDayStat">
                <h4>Дневная статистика</h4>
                <div>
                    Сейчас на сайте:
                    <br/>
                    <span>X</span>
                    <br/>
                    <br/> Сегодня посетителей:
                    <br/>
                    <span>Y</span>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="myprofilecontainer panel-group" id="myProfileContainerId">
                <div class="myField panel panel-default" id="panel1">
                    <div class="myFieldHeader">
                        <span>Эмейл:</span>
                        <div class="myFieldEditBtnCon">
                            <button data-toggle="collapse" data-target="#myEmailEditId" data-parent="#myProfileContainerId">редактировать
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <span>usermail1234@example.domaim.com</span>
                    </div>
                    <div class="collapse" id="myEmailEditId">
                        <form action="" method="post" class="myFieldEditForm">
                                {% csrf_token %}
                            <div class="myFieldEditFormCon">
                                <div class="myFieldInputCon">
                                    {{ formchangeEmail.new_email.label_tag }}
                                    {{ formchangeEmail.new_email }}
                                    <!-- <input type="text" class="form-control" id="myNewFieldInputId"> -->
                                </div>
                                <div class="myFieldEditError">
                                        {{ formchangeEmail.errors }}
                                    <!-- <span>Ошибка</span> -->
                                </div>
                                <div class="myFieldEditButnsCon">
                                    <button class="btn btn-default">Сохранить изменения</button>
                                    <button class="btn btn-default">Отменить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="myField panel panel-default" id="panel2">
                    <div class="myFieldHeader">
                        <span>Логин:</span>
                        <div class="myFieldEditBtnCon">
                            <button data-toggle="collapse" data-target="#myLoginEditId" data-parent="#myProfileContainerId">редактировать
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <span>ANDRmars</span>
                    </div>
                    <div class="collapse" id="myLoginEditId">
                        <form action="" method="post" class="myFieldEditForm">
                                {% csrf_token %}
                            <div class="myFieldEditFormCon">
                                <div class="myFieldInputCon">
                                    {{formchangeUsername.new_username.label_tag }}
                                    {{ formchangeUsername.new_username }}
                                    <!-- <input type="text" class="form-control" id="myNewFieldInputId"> -->
                                </div>
                                <div class="myFieldEditError">
                                        {{ formchangeUsername.errors }}
                                    <!-- <span>Ошибка</span> -->
                                </div>
                                <div class="myFieldEditButnsCon">
                                    <button class="btn btn-default">Сохранить изменения</button>
                                    <button class="btn btn-default">Отменить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="myField panel panel-default" id="panel3">
                    <div class="myFieldHeader">
                        <span>Пароль:</span>
                        <div class="myFieldEditBtnCon">
                            <button data-toggle="collapse" data-target="#myPasswordEditId" data-parent="#myProfileContainerId">редактировать
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <span>********</span>
                    </div>
                    <div class="collapse" id="myPasswordEditId">
                        <form action="" method="post" class="myFieldEditForm">
                                {% csrf_token %}
                            <div class="myFieldEditFormCon">
                                <div class="myFieldInputCon">
                                    {{formchangePasswd.old_password.label_tag }}
                                    {{ formchangePasswd.old_password }}
                                    <!-- <input type="text" class="form-control" id="myNewFieldInputId"> -->
                                </div>
                                <div class="myFieldInputCon">
                                    {{formchangePasswd.new_password1.label_tag }}
                                    {{ formchangePasswd.new_password1 }}
                                    <!-- <input type="text" class="form-control" id="myNewFieldInputId"> -->
                                </div>
                                <div class="myFieldInputCon">
                                    {{formchangePasswd.new_password2.label_tag }}
                                    {{ formchangePasswd.new_password1 }}
                                    <!-- <input type="text" class="form-control" id="myNewFieldInputId"> -->
                                </div>
                                <div class="myFieldEditError">
                                        {{ formchangePasswd.errors }}
                                    <!-- <span>Ошибка</span> -->
                                </div>
                                <div class="myFieldEditButnsCon">
                                    <button class="btn btn-default">Сохранить изменения</button>
                                    <button class="btn btn-default">Отменить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
