{% extends "base.html" %}
{% load staticfiles %}

{% block title %} My statistic {% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/myMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStatStyles.css' %}">
{% endblock links %}


{% block content %}
	<div>
		<div class="myContainer">
			<div class="myContent">

				<div class="col-xs-3">					
					{% include "myMenu.html" %}

					{% include "dayStat.html" %}
				</div>

				<div class="col-xs-9">
					<div class="myStat">

						<table class="table">
							<tbody>
								<tr>
									<td>Зарегестрирован с:</td>
									<td>16.05.2018</td>
								</tr>
								<tr>
									<td>Опубликовано историй:</td>
									<td>24</td>
								</tr>
								<tr>
									<td>К-во доступних историй:</td>
									<td>12</td>
								</tr>
								<tr>
									<td>К-во временных историй:</td>
									<td>3</td>
								</tr>
							</tbody>
						</table>

						<div class="myFingerUpDown">
							<p>Likes: <span class="glyphicon glyphicon-thumbs-up"></span> <span>99</span></p>
							<p>Dislikes: <span class="glyphicon glyphicon-thumbs-down"></span> <span>190</span></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}