.myContainer {
	width: 950px;
	margin: auto;
}

.myTextBlocks {
  margin: 50px 25px 100px 25px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

.myTextBlocks > p {
  font-size: 19px;
}

.myTeam > .row:first-child {
	margin-bottom: 80px;
}

.myTeam .myMember {
	/*width: 100%;*/
	/*padding-top: 100%;*/
	border-radius: 50%;
	border: 1px solid black;
	background-color: #c2c2c2;
	margin: 0px;
}
.row p {
	padding-top: 15px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

textarea {
	resize: none;
}

.myFeedback {
	margin-bottom: 50px;
}
.myImages {
    border-radius: 50%;
    margin: 0px;
    width: 100%;
    margin: 0px;
    border: 2px solid black;
}
